/** CSS goes here! **/
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 79%;
    margin: auto;
    margin-bottom: 1.25rem;
    margin-top: 2.5rem;
}
.flex-item {
    flex: 33.33%;
    padding: 2.8125rem;
    font-family: 'Lexend Deca' sans-serif;
}
.flex-item h2 {
    text-transform: uppercase;
    padding-top: 1.25rem;
    letter-spacing: -1px;
    font-family: 'Lexend Deca' sans-serif;
    color: hsl(0, 0%, 95%);
    font-weight: 400;
}
.flex-item p {
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Lexend Deca' sans-serif;
    font-size: 0.9375rem;
    padding: 1.25rem 0 3.125rem 0;
}
.flex-item input[type=submit] {
    border: 2px solid hsl(0, 0%, 95%);
    border-radius: 1.875rem;
    padding: 0.625rem 1.5rem;
    font-size: 0.8125rem;
}
.flex-item input[type=submit]:hover {
    background: none;
    border: 2px solid hsl(0, 0%, 95%);
    color: hsl(0, 0%, 95%);
}
.flex-item-left {
    background-color: hsl(31, 77%, 52%);
    border-top-left-radius: 0.625rem;
    border-bottom-left-radius: 0.625rem;
}
.flex-item-middle {
    background-color: hsl(184, 100%, 22%);
}
.flex-item-right {
    background-color: hsl(179, 100%, 13%);
    border-top-right-radius: 0.625rem;
    border-bottom-right-radius: 0.625rem;
}
.attribution {
    font-size: 0.6875rem;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 576px) {
    .flex-item {
        flex: 100%;
    }
    .flex-item-left {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    .flex-item-right {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
}